# Dependencias Node
node_modules/

# Base de datos SQLite
backend/db.sqlite

# Variables de entorno
.env

# Cobertura de tests
coverage/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

#postman
.postman/
postman/